<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script>
$(function(){
    $("#ajaxtabs").tabs();
});
</script>
<body>
<h1 class="" style="float: center">After Approval Process</h1>
    <div id="ajaxtabs">
        <ul>
            <li><a href="http://localhost:3000/dragndrop">Get your money</a></li>
            <li><a href="http://localhost:3000/installmentdate">First Installment</li></a>
        </ul>
    </div>
</body>
</html>
