<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #draggable{
                width: 50px;
                height: 50px;
                padding: 1em;
                float: left;
                margin: 10px 10px 10px 0;
            }

            #droppable{
                width: 100px;
                height: 100px;
                padding: 2em;
                float: left;
                margin: 10px 10px;
            }
        </style>
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script>
$(function(){
    $("#draggable").draggable();
    $("#droppable").droppable({
        drop: function(event,ui){
            $(this)
            .addClass("ui-state-highlight")
            .find("p")
            .html("Deposited!");
        }
    });
});
$(function(){
    $("#droppable").resizable();
});
</script>

<body>
<div id="draggable" class="ui-widget-content">
    <p><img src="/money.jpeg" alt="loan money"></p>
</div>

<div id="droppable" class="ui-widget-header">
    <p><img src="/locker.jpeg" alt="locker"></p>
</div>
</body>
</html>